
@import "../partitials/_promo";
@import "../partitials/_experience";
@import "../partitials/_advantages";
@import "../partitials/_team";
@import "../partitials/_clients";
@import "../partitials/_recommended";
@import "../partitials/_footer";

.bg{
    min-height: 100%;
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% 100%;
    background-image:
        linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
    min-width: 320px;  
    position: relative;
    z-index: 2;
    border-radius: 0px 0px 12px 12px;
    //margin-bottom: 50px;
}

.bggrey{
    background-color: $bggreyColor;
}