$accentColor: #F0145A;
$activecolor: #24A3FF;
$whtext: #FFFFFF;
$bggreyColor: #F5F5FA;
$separatorColor: #E6E6F0;
$greytextColor: #B3B3BA;
$headerColor: #323264;
$footerphone: #46466E;
$hoveritemColor: rgba(255, 255, 255, 0.2);
$blacktextColor: #000000;
$shadowColor: #CACADB;
$lightShadowColor:#E7E7F2;